process {
    publishDir = {"./results/$sid/$task.process"}
    scratch = true
    stageOutMode = 'rsync'
    tag = { "$sid" }
    afterScript = 'sleep 1'
}

params {
    help=false
    root=false

    //**Number of processes per tasks**//
        register_processes=4

    //**Process control**//
        processes = false

    //**Output directory**//
        output_dir=false

    //**Device**//
        device="cpu"

    //**Use SyN Quick**//
        registration_speed = 1

}

if(params.output_dir) {
    process.publishDir = {"$params.output_dir/$sid/$task.process"}
}

if(params.processes) {
    if(params.processes > Runtime.runtime.availableProcessors()) {
        throw new RuntimeException("Number of processes higher than available CPUs.")
    }
    else if(params.processes < 1) {
        throw new RuntimeException("When set, number of processes must be >= 1 " +
                                   "and smaller or equal to the number of CPUs.")
    }
    else {
        executor.$local.cpus = params.processes
    }
}

singularity {
    autoMounts = true
    runOptions = '--nv'
}